@tailwind base;
@tailwind components;
@tailwind utilities;
/* .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    padding: 15px;
}

.logo{
    height: 60px;
    width: 150px;
}

.nav-list>ul{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: larger;
}

.restaurants-container{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin:20px;
    
}

.restaurantCard{
    border: 1px solid black;
    width: 180px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
    margin-top: 10px;
    word-wrap: break-word;  
}

.restaurantCard:hover{
    cursor: pointer;
    scale: 1.05;
    box-shadow:4px 4px 10px rgb(239, 239, 25);
}

.search{
    margin-top: 10px;
    margin-bottom: 10px;
}

.res-img{
    width: 180px;
    height: 120px;
    border-radius: 8px;
}

.filter-btn{
    margin:10px;
}

.features{
    display: flex;  
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin:20px;
}

.shimmer{
    border: 1px solid black;
    width: 180px;
    border-radius: 8px;
    background-color: rgba(232, 228, 228, 0.842);
    margin-top: 10px; 
    height:280px;
    padding:10px;
}

.shimmer-sec{
    width: 180px;
    height: 120px;
    border-radius: 10px;
    background-color: rgb(242, 245, 247);
    
} */